@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.prata-regular {
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
